.user {
    display: flex;
}

.user div {
    display: inline;
    padding: 10px 10px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    min-width: 200px;
    max-width: 200px;
}