.album {
    display: flex;
    width: 400px;
}

.album div {
    display: inline;
    padding: 10px 10px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.album div:first-child {
    width: 20%;
}

.album div:last-child {
    width: 80%;
}