/* You can add global styles to this file, and also import other style files */

.table-header {
    display: flex;
}

.table-header div {
    display: inline;
    padding: 10px 10px;
    font-weight: bold;
    border: 1px solid #e8e8e8;
    width: 10%;
}

